.container {
  max-width: 1470px;
  margin: 0px auto;
  /* padding: 0px 15px; */
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.image {
  width: 1000px;
  height: 750px;
}